<app-header></app-header>
<div class="container">
  <br />
  <h2>Book Details</h2>
  <div class="h_ome">
    <div class="row">
      <div class="col-md-2">Search by:</div>
      <div class="col-md-4"> 
          <input type="text" [(ngModel)] = 'listFilter'/>
      </div>
    </div>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books | filterPipe: listFilter; let i = index" style="list-style-type: none">
          <td>{{i+1}}</td>
          <td>{{book.name}}</td>
          <td>{{book.price}}</td>
          <td>{{book.description}}</td>
          <td><a class="btn btn-primary text-white pl-2 pr-2 pt-0 pb-0" (click)=view(book.id)>View Detail</a></td><!-- [routerLink]="['/view-detail', book.id]" -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
